<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Confirm Token</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-3 p-5">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                    <div class="card-header">
                        <p class="fs-4 text-center">Confirm Token</p>

                        <!-- Showing message to UI end -->
                        <th:block th:if="${session.successMsg}">
                            <p class="text-success fw-bold text-center mt-2">[[${session.successMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                        <th:block th:if="${session.errorMsg}">
                            <p class="text-danger fw-bold text-center mt-2">[[${session.errorMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                        <!-- Showing message to UI end -->
                    </div>
                    <form action="/confirm-token" method="post">
                        <input type="hidden" name="email" th:value="${email}">
                        <div class="mb-3">
                            <label class="form-label">Token</label>
                            <input type="text" name="token" class="form-control" placeholder="Enter token from email" required/>
                        </div>
                        <button type="submit" class="btn bg-danger text-white col-md-12">Confirm Token</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
