<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section}, ~{::cssFragment}, ~{::jsFragment})}">

<!-- CSS Fragment -->
<th:block th:fragment="cssFragment">
    <link rel="stylesheet" th:href="@{/css/homepage.css}"/>
</th:block>

<!-- JS Fragment -->
<th:block th:fragment="jsFragment">
    <script th:src="@{/javascript/confirm-token.js}"></script>
</th:block>

<section>
    <a th:href="@{/forgot-password}" class="btn btn-outline-primary btn-sm">
        ← Back
    </a>
    <div class="container mt-5 p-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow p-4">
                    <div class="card-header text-center">
                        <h3>Đặt lại mật khẩu</h3>
                    </div>

                    <!-- Thông báo lỗi -->
                    <div th:if="${error}" class="text-danger fw-bold text-center mt-2">
                        [[${error}]]
                    </div>

                    <form id="resetForm" th:action="@{/reset-password}" method="post" autocomplete="off">
                        <input type="hidden" id="emailHidden" name="email"
                               th:value="${email instanceof T(java.util.List) ? email.get(0) : email}" autocomplete="off"/>

                        <div class="mb-3">
                            <label>Nhập mã xác nhận:</label>
                            <input type="text" id="token" name="token"
                                   class="form-control" placeholder="Token (5 ký tự)" required autocomplete="off"/>
                            <div id="tokenFeedback" class="mt-2"></div>
                        </div>

                        <div class="mb-3">
                            <label for="password">Mật khẩu mới</label>
                            <input type="password" id="password" name="password"
                                   class="form-control" required autocomplete="new-password"/>
                        </div>

                        <div class="mb-3">
                            <label for="confirm">Xác nhận mật khẩu</label>
                            <input type="password" id="confirm" name="confirmPassword"
                                   class="form-control" required autocomplete="new-password"/>
                        </div>

                        <button type="submit" class="btn btn-success w-100">Xác nhận</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</section>

</html>
